In [1]:
import numpy as np 
import pandas as pd

In [2]:
file_path = r"F:\Data Engineering Projects\Netflix_DWH\source\netflix_titles.csv"

df = pd.read_csv(file_path)

In [3]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [5]:
df.isna().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [6]:
df.isna().mean()

show_id         0.000000
type            0.000000
title           0.000000
director        0.299080
cast            0.093675
country         0.094357
date_added      0.001135
release_year    0.000000
rating          0.000454
duration        0.000341
listed_in       0.000000
description     0.000000
dtype: float64

In [7]:
df.duplicated().sum()

0

In [8]:
df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [9]:
df["director"] = df["director"].fillna('unknown')

In [10]:
df["director"].isna().sum()

0

In [11]:
df["cast"] = df["cast"].fillna('unknown')
df["country"] = df["country"].fillna('unknown')

In [12]:
df["director"].isna().sum()

0

In [13]:
df[df["duration"].isna()]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
5541,s5542,Movie,Louis C.K. 2017,Louis C.K.,Louis C.K.,United States,"April 4, 2017",2017,74 min,NaN,Movies,"Louis C.K. muses on religion, eternal love, gi..."
5794,s5795,Movie,Louis C.K.: Hilarious,Louis C.K.,Louis C.K.,United States,"September 16, 2016",2010,84 min,NaN,Movies,Emmy-winning comedy writer Louis C.K. brings h...
5813,s5814,Movie,Louis C.K.: Live at the Comedy Store,Louis C.K.,Louis C.K.,United States,"August 15, 2016",2015,66 min,NaN,Movies,The comic puts his trademark hilarious/thought...

In [14]:
df["duration"]= df["duration"].fillna(df["rating"])

In [15]:
df[df["rating"].isna()]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
5989,s5990,Movie,13TH: A Conversation with Oprah Winfrey & Ava ...,unknown,"Oprah Winfrey, Ava DuVernay",unknown,"January 26, 2017",2017,NaN,37 min,Movies,Oprah Winfrey sits down with director Ava DuVe...
6827,s6828,TV Show,Gargantia on the Verdurous Planet,unknown,"Kaito Ishikawa, Hisako Kanemoto, Ai Kayano, Ka...",Japan,"December 1, 2016",2013,NaN,1 Season,"Anime Series, International TV Shows","After falling through a wormhole, a space-dwel..."
7312,s7313,TV Show,Little Lunch,unknown,"Flynn Curry, Olivia Deeble, Madison Lu, Oisín ...",Australia,"February 1, 2018",2015,NaN,1 Season,"Kids' TV, TV Comedies","Adopting a child's perspective, this show take..."
7537,s7538,Movie,My Honor Was Loyalty,Alessandro Pepe,"Leone Frisa, Paolo Vaccarino, Francesco Miglio...",Italy,"March 1, 2017",2015,NaN,115 min,Dramas,"Amid the chaos and horror of World War II, a c..."

In [16]:
df["rating"]= df['rating'].fillna("unknown")

In [17]:
5541, 5794, 5813

(5541, 5794, 5813)

In [18]:
df.loc[[5541, 5794, 5813], "rating"] = "unknown"

In [19]:
df.loc[[5541, 5794, 5813], "rating"]

5541    unknown
5794    unknown
5813    unknown
Name: rating, dtype: object

In [20]:
df.isna().sum()

show_id          0
type             0
title            0
director         0
cast             0
country          0
date_added      10
release_year     0
rating           0
duration         0
listed_in        0
description      0
dtype: int64

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      8807 non-null   object
 4   cast          8807 non-null   object
 5   country       8807 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8807 non-null   object
 9   duration      8807 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [22]:
df["date_added"] = pd.to_datetime(df["date_added"], errors= "coerce")

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      8807 non-null   object
 4   cast          8807 non-null   object
 5   country       8807 non-null   object
 6   date_added    8797 non-null   datetime64[ns]
 7   release_year  8807 non-null   int64
 8   rating        8807 non-null   object
 9   duration      8807 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: datetime64[ns](1), int64(1), object(10)
memory usage: 825.8+ KB

In [24]:
df["date_added"]

0      2021-09-25
1      2021-09-24
2      2021-09-24
3      2021-09-24
4      2021-09-24
          ...
8802   2019-11-20
8803   2019-07-01
8804   2019-11-01
8805   2020-01-11
8806   2019-03-02
Name: date_added, Length: 8807, dtype: datetime64[ns]

In [25]:
df[df["date_added"].isna()]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
6066,s6067,TV Show,A Young Doctor's Notebook and Other Stories,unknown,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,NaT,2013,TV-MA,2 Seasons,"British TV Shows, TV Comedies, TV Dramas","Set during the Russian Revolution, this comic ..."
6174,s6175,TV Show,Anthony Bourdain: Parts Unknown,unknown,Anthony Bourdain,United States,NaT,2018,TV-PG,5 Seasons,Docuseries,This CNN original series has chef Anthony Bour...
6795,s6796,TV Show,Frasier,unknown,"Kelsey Grammer, Jane Leeves, David Hyde Pierce...",United States,NaT,2003,TV-PG,11 Seasons,"Classic & Cult TV, TV Comedies",Frasier Crane is a snooty but lovable Seattle ...
6806,s6807,TV Show,Friends,unknown,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,NaT,2003,TV-14,10 Seasons,"Classic & Cult TV, TV Comedies",This hit sitcom follows the merry misadventure...
6901,s6902,TV Show,Gunslinger Girl,unknown,"Yuuka Nanri, Kanako Mitsuhashi, Eri Sendai, Am...",Japan,NaT,2008,TV-14,2 Seasons,"Anime Series, Crime TV Shows","On the surface, the Social Welfare Agency appe..."
7196,s7197,TV Show,Kikoriki,unknown,Igor Dmitriev,unknown,NaT,2010,TV-Y,2 Seasons,Kids' TV,A wacky rabbit and his gang of animal pals hav...
7254,s7255,TV Show,La Familia P. Luche,unknown,"Eugenio Derbez, Consuelo Duval, Luis Manuel Áv...",United States,NaT,2012,TV-14,3 Seasons,"International TV Shows, Spanish-Language TV Sh...","This irreverent sitcom featues Ludovico, Feder..."
7406,s7407,TV Show,Maron,unknown,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",United States,NaT,2016,TV-MA,4 Seasons,TV Comedies,"Marc Maron stars as Marc Maron, who interviews..."
7847,s7848,TV Show,Red vs. Blue,unknown,"Burnie Burns, Jason Saldaña, Gustavo Sorola, G...",United States,NaT,2015,NR,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...","This parody of first-person shooter games, mil..."
8182,s8183,TV Show,The Adventures of Figaro Pho,unknown,"Luke Jurevicius, Craig Behenna, Charlotte Haml...",Australia,NaT,2015,TV-Y7,2 Seasons,"Kids' TV, TV Comedies","Imagine your worst fears, then multiply them: ..."

In [26]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,unknown,United States,2021-09-25,2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,unknown,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",unknown,2021-09-24,2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,unknown,unknown,unknown,2021-09-24,2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,unknown,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [27]:
df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [28]:
df["cast"]

0                                                 unknown
1       Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...
2       Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...
3                                                 unknown
4       Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...
                              ...
8802    Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...
8803                                              unknown
8804    Jesse Eisenberg, Woody Harrelson, Emma Stone, ...
8805    Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...
8806    Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...
Name: cast, Length: 8807, dtype: object

In [29]:
df["cast"] = df["cast"].str.split(",")

In [30]:
df["cast"]

0                                               [unknown]
1       [Ama Qamata,  Khosi Ngema,  Gail Mabalane,  Th...
2       [Sami Bouajila,  Tracy Gotoas,  Samuel Jouy,  ...
3                                               [unknown]
4       [Mayur More,  Jitendra Kumar,  Ranjan Raj,  Al...
                              ...
8802    [Mark Ruffalo,  Jake Gyllenhaal,  Robert Downe...
8803                                            [unknown]
8804    [Jesse Eisenberg,  Woody Harrelson,  Emma Ston...
8805    [Tim Allen,  Courteney Cox,  Chevy Chase,  Kat...
8806    [Vicky Kaushal,  Sarah-Jane Dias,  Raaghav Cha...
Name: cast, Length: 8807, dtype: object

In [31]:
df_cast = df[["show_id", "cast"]]

In [32]:
df_cast.head()

  show_id                                               cast
0      s1                                          [unknown]
1      s2  [Ama Qamata,  Khosi Ngema,  Gail Mabalane,  Th...
2      s3  [Sami Bouajila,  Tracy Gotoas,  Samuel Jouy,  ...
3      s4                                          [unknown]
4      s5  [Mayur More,  Jitendra Kumar,  Ranjan Raj,  Al...

In [33]:
df_cast =  df_cast.explode("cast")

In [34]:
df_cast

     show_id                    cast
0         s1                 unknown
1         s2              Ama Qamata
1         s2             Khosi Ngema
1         s2           Gail Mabalane
1         s2          Thabang Molaba
...      ...                     ...
8806   s8807        Manish Chaudhary
8806   s8807            Meghna Malik
8806   s8807           Malkeet Rauni
8806   s8807          Anita Shabdish
8806   s8807   Chittaranjan Tripathy

[64951 rows x 2 columns]

In [35]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,[unknown],United States,2021-09-25,2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,unknown,"[Ama Qamata, Khosi Ngema, Gail Mabalane, Th...",South Africa,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"[Sami Bouajila, Tracy Gotoas, Samuel Jouy, ...",unknown,2021-09-24,2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,unknown,[unknown],unknown,2021-09-24,2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,unknown,"[Mayur More, Jitendra Kumar, Ranjan Raj, Al...",India,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [36]:
df["director"] = df["director"].str.split(",")
df["country"] = df["country"].str.split(",")
df["listed_in"] = df["listed_in"].str.split(",")

In [37]:
df_director = df[["show_id", "director"]]
df_country = df[["show_id", "country"]]
df_listed = df[["show_id", "listed_in"]]

In [38]:
df_director  = df_director.explode("director")
df_country = df_country.explode("country")
df_listed = df_listed.explode("listed_in")

In [39]:
df_director

     show_id         director
0         s1  Kirsten Johnson
1         s2          unknown
2         s3  Julien Leclercq
3         s4          unknown
4         s5          unknown
...      ...              ...
8802   s8803    David Fincher
8803   s8804          unknown
8804   s8805  Ruben Fleischer
8805   s8806     Peter Hewitt
8806   s8807      Mozez Singh

[9612 rows x 2 columns]

In [40]:
df_country

     show_id        country
0         s1  United States
1         s2   South Africa
2         s3        unknown
3         s4        unknown
4         s5          India
...      ...            ...
8802   s8803  United States
8803   s8804        unknown
8804   s8805  United States
8805   s8806  United States
8806   s8807          India

[10850 rows x 2 columns]

In [41]:
df_listed

     show_id                 listed_in
0         s1             Documentaries
1         s2    International TV Shows
1         s2                 TV Dramas
1         s2              TV Mysteries
2         s3            Crime TV Shows
...      ...                       ...
8805   s8806  Children & Family Movies
8805   s8806                  Comedies
8806   s8807                    Dramas
8806   s8807      International Movies
8806   s8807          Music & Musicals

[19323 rows x 2 columns]

In [42]:
df_desc = df[["show_id", "description"]]

In [43]:
df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [44]:
df.drop(['director', 'cast', 'country','listed_in', 'description'], axis =1, inplace= True )

In [45]:
df.head()

,show_id,type,title,date_added,release_year,rating,duration
0,s1,Movie,Dick Johnson Is Dead,2021-09-25,2020,PG-13,90 min
1,s2,TV Show,Blood & Water,2021-09-24,2021,TV-MA,2 Seasons
2,s3,TV Show,Ganglands,2021-09-24,2021,TV-MA,1 Season
3,s4,TV Show,Jailbirds New Orleans,2021-09-24,2021,TV-MA,1 Season
4,s5,TV Show,Kota Factory,2021-09-24,2021,TV-MA,2 Seasons

In [47]:
df[["duration_t", "unit"]] = df["duration"].str.split(" ", expand= True)

In [48]:
df.head()

,show_id,type,title,date_added,release_year,rating,duration,duration_t,unit
0,s1,Movie,Dick Johnson Is Dead,2021-09-25,2020,PG-13,90 min,90,min
1,s2,TV Show,Blood & Water,2021-09-24,2021,TV-MA,2 Seasons,2,Seasons
2,s3,TV Show,Ganglands,2021-09-24,2021,TV-MA,1 Season,1,Season
3,s4,TV Show,Jailbirds New Orleans,2021-09-24,2021,TV-MA,1 Season,1,Season
4,s5,TV Show,Kota Factory,2021-09-24,2021,TV-MA,2 Seasons,2,Seasons

In [49]:
df.drop("duration", axis = 1, inplace= True)

In [50]:
df.head()

,show_id,type,title,date_added,release_year,rating,duration_t,unit
0,s1,Movie,Dick Johnson Is Dead,2021-09-25,2020,PG-13,90,min
1,s2,TV Show,Blood & Water,2021-09-24,2021,TV-MA,2,Seasons
2,s3,TV Show,Ganglands,2021-09-24,2021,TV-MA,1,Season
3,s4,TV Show,Jailbirds New Orleans,2021-09-24,2021,TV-MA,1,Season
4,s5,TV Show,Kota Factory,2021-09-24,2021,TV-MA,2,Seasons

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   date_added    8797 non-null   datetime64[ns]
 4   release_year  8807 non-null   int64
 5   rating        8807 non-null   object
 6   duration_t    8807 non-null   object
 7   unit          8807 non-null   object
dtypes: datetime64[ns](1), int64(1), object(6)
memory usage: 550.6+ KB

In [60]:
df["duration_t"] = df["duration_t"].astype("int")

In [51]:
from sqlalchemy import create_engine

In [55]:
engine = create_engine('mysql+pymysql://root:12345@localhost/netflix_dwh')

with engine.connect() as connection: 
    result = connection.execute("select * from employees")

    for row in result : 
        print(row)

(1, 'John', 'Doe', 'Engineering', Decimal('75000.00'), datetime.date(2020, 1, 15))
(2, 'Jane', 'Smith', 'Marketing', Decimal('65000.00'), datetime.date(2019, 7, 1))
(3, 'Alice', 'Johnson', 'Engineering', Decimal('80000.00'), datetime.date(2021, 3, 22))
(4, 'Bob', 'Brown', 'HR', Decimal('55000.00'), datetime.date(2018, 11, 10))
(5, 'Eve', 'Davis', 'Finance', Decimal('90000.00'), datetime.date(2017, 5, 30))

In [69]:
print(pd.io.sql.get_schema(df, name = "fact", con = engine))

CREATE TABLE fact (
	show_id TEXT,
	type TEXT,
	title TEXT,
	date_added DATETIME,
	release_year BIGINT,
	rating TEXT,
	duration_t INTEGER,
	unit TEXT
)

In [70]:
df.to_sql(name = "fact", con = engine, if_exists = "append"  )

8807

In [71]:
df_cast.to_sql(name = "cast", con = engine , if_exists= "append")
df_country.to_sql(name = "country", con = engine, if_exists= "append")
df_desc.to_sql(name = "description" , con = engine, if_exists= "append")

8807

In [73]:
df_director.to_sql(name = "director", con = engine , if_exists = "append")
df_listed.to_sql(name = "listed", con = engine, if_exists= "append")

19323

In [74]:
df_cast.to_sql(name = "castlist", con = engine , if_exists= "append")

64951